@model SubscriberVM
<div class="card" style="width: 18rem;">
    @* <img src="..." class="card-img-top" alt="..."> *@
    <div class="card-body">
        <h5 class="card-title">@Model.Email</h5>
        <p class="card-text">Est inscrit? @Model.IsSubscribed</p>
    </div>
</div>
@* <script>alert("blah!")</script> *@
